
<h1>Training Centers</h1>

<table>
  <thead>
    <tr>
      <th>Training center name</th>
      <th>Primary contact</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_centers.each do |training_center| %>
      <tr>
        <td><%= training_center.training_center_name %></td>
        <td><%= training_center.primary_contact %></td>
        <td><%= training_center.phone %></td>
        <td><%= training_center.email %></td>
        <td><%= link_to 'Show', training_center %></td>
        <td><%= link_to 'Edit', edit_training_center_path(training_center) %></td>
        <td><%= link_to 'Destroy', training_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training Center', new_training_center_path %>
