

<%= form_for(course_type) do |f| %>
  <% if course_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_type.errors.count, "error") %> prohibited this course_type from being saved:</h2>

      <ul>
      <% course_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="container">
      <div  style="margin-top:50px;" class="col-md-6 col-md-offset-3 col-sm-7 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">

            <div class="panel-title"><strong>Course Type</strong>
              <div class="pull-right">
                <div style="margin-top: -6px">
              <%= link_to 'Cancel', course_types_path, class:'btn btn-danger' %>
            </div></div>
             </div>

          </div>

          <div style="padding-top:30px" class="panel-body" >
<div class="row">
  <div class="col-md-4">

    <%= f.text_field :course_type , class:'form-control'%>
  </div>
  </div>
</br>
            <button type="submit" class="btn btn-success">Update Course Type</button>
  </div>
<% end %>

</div>
</div>
</div>
</div>
</div>

