<%= form_for(application_form) do |f| %>
  <% if application_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_form.errors.count, "error") %> prohibited this application_form from being saved:</h2>

      <ul>
      <% application_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div id="form-wrapper" style="min-height: 535px">
      <div class="col-lg-12">
        <h1 class="page-header">Therapeutic Professionals Application </h1>
      </div>
      <div class="row">
     <div class="col-lg-12">
     <div class="panel panel-primary">

       <div class="panel-heading"> Candidate Instructor Screening Form </div>

       <div class="panel-body">
         <div class="row">
           <div class="col-lg-6">
             <form role="form">
               <div class="container-fluid">

    <div class="form-group">
      <%= f.hidden_field :candidate_id, value: @current_candidate.id %>
    </div>



    <div class="form-group">
    <%= f.label :candidate_id, "For Candidate: #{@current_application_form.candidate&.first_name}" %>
  </div>

<!---- Course Input Data Form -------------------------------------------------------------------------------->
<div id="course_input_data">
<div class="row">
 <div class="col-md-4">
    <%= f.label :course_type_id, "What type of instructor are you interested in becoming?" %>
    <%= f.collection_select :course_type_id, CourseType.all, :id, :course_type, {prompt: "Select One"}, {class: "form-control"} %>

</div>
  </div>

  </br>
<div class="row">
  <div class="col-md-8">
    <%=f.label :course_start_date, "Start Date" %>
<<<<<<< HEAD
    <%= f.datetime_select :course_start_date, :ampm=> true, :minute_step => 5%>
=======
    <%= f.date_select :course_start_date, order: [:month, :day, :year]%>
    </div>
>>>>>>> 2c1820894c689af6ca2e702e91b23409fa9f439d
</div>

 </br>

  <!-------- ROW  -------------------->

  <div class="row">
    <div class="col-md-4">
    <%= f.label :course_address, "Course Address" %>
    <%= f.text_field :course_address, class: 'form-control'%>
  </div>

    <div class="col-xs-2">
      <%= f.label :state_code, 'State', class: 'control-label' %>
      <%= f.collection_select :state_id, State.all, :id, :state_name, {selected: 'Texas'}, {class: 'form-control'} %>
    </div>


    <div class="col-xs-3">
      <label for="course_city">City</label>
      <%=f.text_field :course_city, placeholder: 'City', class: 'form-control'%>
    </div>

    <div class="col-xs-2">
      <label for="course_zipcode">Zip Code</label>
      <%=f.text_field :course_zipcode, placeholder: 'Zip Code', class: 'form-control'%>
    </div>

    </div>
  </br>
  <button type="button" class="btn btn-default" id="con_ic_screening_form">Continue</button>
  </div>

<!----------------- / End Course Input Data Form ---------------------------------------------------------->


<!----------------- IC Screening Form --------------------------------------------------------------------->

  <div id="ic_screening_form">
  <div class="row">
  <div class="col-md-5">
  <%= f.label "Do you have any experience teaching?" %>
   <%= f.radio_button :experience_check, true %>
   <%= f.label "Yes" %>
   <%= f.radio_button :experience_check, false %>
   <%= f.label "No" %>
 </div>

 </div>
 </br>
<!---------ROW -------------->
  <div class="row">
  <div class="col-lg-12">
   <%= f.label :experience_description, "If yes, please explain:" %>
  <br>
   <%= f.text_area :experience_description, class: 'form-control' ,size: "2x4"%>
  </div>

</div>
    </br>

    <button type="button" class="btn btn-default" id="back_course_input_data">Back</button>
    <button type="button" class="btn btn-default" id="con_ic_screening_form1">Continue</button>

    </div>




<!---------------- IC  Screening Form 1 ----------------------------------------------------------------------------->
    <div id="ic_screening_form1">
  <div class="row">
  <div class="col-lg-12">
     <%= f.label "Have you ever been a CPR instructor?" %>
     <%= f.radio_button :cpr_instructor_check, true %>
     <%= f.label "Yes" %>
     <%= f.radio_button :cpr_instructor_check, false %>
     <%= f.label "No" %>
  </div>
    </div>
</br>
  <div class="row">
  <div class="col-lg-12">
            <%= f.label "If yes, with who?" %>
    <br>
    </div>
    <div class="row text-right">
      <div class="col-md-4">
            <%= f.check_box :aha_check %>
            <%= f.label "American Heart Association - Name of Training Center:"%>
        </div>
      <div class="col-md-6"><%=f.text_field :aha_training_canter,class: 'form-control' %>
   </div>
    </div>
    </br>
    <div class="row text-right">
    <div class="col-md-4">
            <%= f.check_box :merica_cross_check %>
            <%= f.label "American Red Cross - National Safety Council or Other:" %>
     </div>
      <div class="col-md-6">
      <%=f.text_field :ns_council_other,class: 'form-control' %>
          </div>
      </div>

 </div>

  </br>
      <button type="button" class="btn btn-default" id="back_ic_screening_form">Back</button>
      <button type="button" class="btn btn-default" id="con_ic_screening_form2">Continue</button>

 </div>

<!--------------- IC Screening Form 2 Section ----------------------------------------------------------------->
 <div id="ic_screening_form2">
  <div class="row">
  <div class="col-lg-12">
    <%= f.label :aha_instructor_motivation, "Why do you want to become an AHA instructor?" %>
    <br>
    <%= f.text_area :aha_instructor_motivation,class: 'form-control' ,size: "2x5"%>
  </div>
  </div>
 <br>
   <div class="row">
  <div class="col-lg-12">
    <%= f.label :marketing_origin, "How did you hear about Therapeutical Professionals?" %>
    <br>
    <%= f.text_area :marketing_origin, class: 'form-control' ,size: "2x5"%>
  </div>
 </div>

  </br>

   <div class="row">
     <%= f.label "American Heart" %>
     <%= f.radio_button :align_w_tp_check, true %>
     <%= f.label "Yes" %>
     <%= f.radio_button :align_w_tp_check, false %>
     <%= f.label "No" %>
   </div>
</br>
  <div class="row">
    <div class="col-lg-12">
   <%= f.label :training_center, "If no, please provide the Training Center name." %>
    </div>
    <div class="col-md-6">
    <%= f.text_field :training_center, class:'form-control' %>
    </div>
    </div>

 </br>
   <button type="button" class="btn btn-default" id="back_ic_screening_form1">Back</button>
   <button type="button" class="btn btn-default" id="con_ic_screening_form3">Continue</button>

   </div>

   <!--------------- IC Screening Form 3 Section ----------------------------------------------------------------->
   <div id="ic_screening_form3">
   <div class="row">
  <div class="col-lg-12">
    <%= f.label :teaching_frequency, "How often do you plan to teach your classes?" %>
    </div>
    <div class="col-lg-8">
    <%= f.text_field :teaching_frequency, class:'form-control'%>
  </div>
  </div>
 </br>
  <div class="field">
    <%= f.label :owned_equipment, "Do you own manikins and other CPR equipment?" %>
    <%= f.radio_button :owned_equipment, true %>
    <%= f.label :owned_equipent, "Yes" %>
    <%= f.radio_button :owned_equipment, false %>
    <%= f.label "No" %>

  </div>
     <button type="button" class="btn btn-default" id="back_ic_screening_form2">Back</button>
     <button type="button" class="btn btn-default" id="con_ic_screening_form4">Continue</button>

</div>
 <!----------------- IC Screening Form 4 Section ---------------------------------------------------------------------->
   <div id="ic_screening_form4">
    </br>
  <div class="field">
    <%= f.label "Will your classes be open to the public?" %>
    <%= f.radio_button :public_class_availability, true %>
    <%= f.label "Yes" %>
    <%= f.radio_button :public_class_availability, false %>
    <%= f.label "No" %>
  </div>

  </br>
  <div class="field">
    <%= f.label "Do you have a location to teach from?" %>
    <%= f.radio_button :teaching_location, true %>
    <%= f.label "Yes" %>
    <%= f.radio_button :teaching_location, false %>
    <%= f.label "No" %>
  </div>

     <button type="button" class="btn btn-default" id="back_ic_screening_form3">Back</button>
     <button type="button" class="btn btn-default" id="con_aha_form">Continue</button>
    </div>

   <!--------------- / IC Screening Form 4 Section ------------------------------------------------------------------->

   <!----------- AHA Form ------------------------------------------------------------------------------------------------->
    <div id="aha_form">
  <div class="field">
  <p>
    <%= f.check_box :aha_form_agreement %> Instructor Commitment: As an AHA Instructor, I agree to teach at least 4 courses in 2 years in accordance

with the guidelines of the American Heart Association.<br> I also agree to strengthen and support the Chain of

Survival and the mission of the American Heart Association in my community.
  </p>
  </div>


    <div class="row">
        <div class="col-lg-12">
      <%= f.label :date_agreed %>
      </div>
      <div class="col-md-2">
      <%= f.text_field :date_agreed,class: 'form-control',:placeholder =>"mm/dd/yyyy" %>
        </div>
    </div>
        <br>
      <div class="actions">

        <button type="button" class="btn btn-default" id="back_ic_screening_form4">Back</button>
        <%= f.submit'Submit', data: {confirm: 'By submitting this application, I acknowledge that I have answered each question completely and truthfully to the best of my ability.'} , class:'btn btn-primary btn-S' %>
  </div>
      </div>
     <!------------/ end of AHA Form ----------------------------------------------------------------------------------------------------------->

      </div>
        </form>
    </div>
     </div>
     </div>
      </div>
     </div>
        </div>
    </div>
    </div>
    </div>
 </div>
    </div>

<% end %>