<%= form_for(application_form) do |f| %>
  <% if application_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(application_form.errors.count, "error") %> prohibited this application_form from being saved:</h2>

      <ul>
      <% application_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :candidate_id %>
    <%= f.number_field :candidate_id %>
  </div>

  <div class="field">
    <%= f.label "Please pick a training center to assign with." %>
    <%= f.collection_select :training_center_id, TrainingCenter.all, :id, :training_center_name %>
  </div>

  <div class="field">
    <%= f.label "Which course are you applying for?" %>
    <%= f.collection_select :course_id, Course.all, :id, :course_identifier %>
  </div>

  <div class="field">
    <%= f.label "Why do you want to become an AHA instructor?" %>
    <br>
    <%= f.text_area :aha_instructor_motivation, size: "60x5"%>
  </div>

  <div class="field">
    <%= f.label "How did you hear about Therapeutical Professionals?" %>
    <br>
    <%= f.text_area :marketing_origin, size: "60x5"%>
  </div>

  <div class="field">
    <%= f.label "How often do you plan to teach your classes?" %>
    <%= f.text_field :teaching_frequency %>
  </div>

  <div class="field">
    <%= f.label "Do you own teaching equipment?" %>
    <%= f.check_box :owned_equipment %>
  </div>

  <div class="field">
    <%= f.label "Will your classes be open to the public?" %>
    <%= f.check_box :public_class_availability %>
  </div>


  <div class="field">
    <%= f.label "Do you have a location to teach from?" %>
    <%= f.check_box :teaching_location %>
  </div>

  <div class="field">
    <%= f.label :screening_form_agreement %>
    <%= f.check_box :screening_form_agreement %>
  </div>

  <div class="field">
    <%= f.label :aha_form_agreement %>
    <%= f.check_box :aha_form_agreement %>
  </div>

    <div class="field">
      <%= f.label :date_agreed %>
      <%= f.text_field :date_agreed %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
