<p id="notice"><%= notice %></p>

<h1>Application Forms</h1>

<div class="container">
  <div class ="container-body">
    <table class='table table-hover'>
      <thead>
    <tr>
      <div class="application_view_headers">
      <th>Name</th>
      <th>Course</th>
      <th>Aha Instructor Motivation</th>
      <th>Marketing Origin</th>
      <th>Teaching Frequency</th>
      <th>Owned Equipment</th>
      <th>Class Availability</th>
      <th>Teaching Location</th>
      <th>Screening Form Agreement</th>
      <th>Date Agreed</th>
      <th>Aha Form Agreement</th>
      <th colspan="3"></th>
      </div>
    </tr>
  </thead>

  <tbody>
    <% @application_forms.each do |application_form| %>
      <tr>
        <td><%= application_form.candidate.full_name %> </td>
        <td><%= application_form.course&.course_identifier %></td>
        <td><%= application_form.aha_instructor_motivation %></td>
        <td><%= application_form.marketing_origin %></td>
        <td><%= application_form.teaching_frequency %></td>
        <td><%= yesno(application_form.owned_equipment) %></td>
        <td><%= yesno(application_form.public_class_availability) %></td>
        <td><%= yesno(application_form.teaching_location) %></td>
        <td><%= yesno(application_form.screening_form_agreement) %></td>
        <td><%= application_form.date_agreed %></td>
        <td><%= yesno(application_form.aha_form_agreement) %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="CRUD">
          <%= link_to 'View Application', application_form, class:'btn btn-default btn-sm' %></td>
        <td class="CRUD">
          <%= link_to 'Edit Application', edit_application_form_path(application_form), class:'btn btn-default btn-sm'  %>
        </td>
        <td class="CRUD">
          <%= link_to 'Delete', application_form, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-sm'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>

<br>
<%= link_to 'New Application Form', new_application_form_path, class:'btn btn-default btn-S'  %>
