

<div class="workers">
  <div class ="workers-body">
    <table class = "table table-hover">

<p>
  <strong>Candidate:</strong>
  <%= @application_form.candidate_id %>
</p>

<p>
  <strong>Training center:</strong>
  <%= @application_form.training_center_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @application_form.course_type&.course_type %>
</p>

<p>
  <strong>Course Location:</strong>
  <%= @application_form.get_course_address %>
</p>

<p>
  <strong>AHA instructor motivation:</strong>
  <%= @application_form.aha_instructor_motivation %>
</p>

<p>
  <strong>Experience:</strong>
  <%= yesno(@application_form.experience_check)%>
</p>

<p>
  <strong>Experience Description:</strong>
  <%= @application_form.experience_description %>
</p>

<p>
  <strong>Marketing origin:</strong>
  <%= @application_form.marketing_origin %>
</p>

<p>
  <strong>Teaching frequency:</strong>
  <%= @application_form.teaching_frequency %>
</p>

<p>
  <strong>Owned equipment:</strong>
  <%= yesno(@application_form.owned_equipment) %>
</p>

<p>
  <strong>Class availability:</strong>
  <%= yesno(@application_form.public_class_availability) %>
</p>


<p>
  <strong>Teaching location:</strong>
  <%= yesno(@application_form.teaching_location) %>
</p>

<p>
  <strong>Screening form agreement:</strong>
  <%= yesno(@application_form.screening_form_agreement) %>
</p>

<p>
  <strong>Date agreed:</strong>
  <%= @application_form.date_agreed %>
</p>

<p>
  <strong>AHA form agreement:</strong>
  <%= yesno(@application_form.aha_form_agreement) %>
</p>

<p>
  <strong>CPR instructor:</strong>
  <%= yesno(@application_form.cpr_instructor_check) %>
</p>

<p>
  <strong>AHA check:</strong>
  <%= yesno(@application_form.aha_check) %>
</p>


<p>
  <strong>American Red Cross:</strong>
  <%= yesno(@application_form.merica_cross_check) %>
</p>

<p>
  <strong>AHA Training Center:</strong>
  <%= @application_form.aha_training_canter %>
</p>

<p>
  <strong>National Safety Council:</strong>
  <%= @application_form.ns_council_other %>
</p>

    </table>
  </div>
</div>


<%= link_to 'Edit', edit_application_form_path(@application_form), class:'btn btn-default btn-S'  %> |
<%= link_to 'Book Appointment', "/book_appointment/#{@application_form.id}", class:'btn btn-default btn-S'  %> |

<%if user_signed_in? and current_user.system_admin? then%>|
<%= link_to 'Back', application_forms_path, class:'btn btn-default btn-S'  %>
<%end%>

<%if user_signed_in? and current_user.candidate? then%>
    <%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %>
<%end%>
