

<div id="form-wrapper">
  <div class="row">
    <div class="col-xs-6 col-sm-8 col-md-6 col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Application Form</h3>
        </div>
        </br>
        <span class="pull-right">
          <%if user_signed_in? and current_user.system_admin? then%>
<%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %>
<%end%>

          <%if user_signed_in? and current_user.candidate? then%>
    <%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %> | <%= link_to 'Edit', edit_application_form_path(@application_form), class:'btn btn-info btn-S'  %> |
              <%= link_to 'Click To Book Appointment', "/book_appointment/#{@application_form.id}", class:'btn btn-primary RbtnMargin btn-S'  %>
<%end%>
          </span> <br>
        <div class="panel-body" >
          <div class="row">
            <div class="col-lg-14">
              <table class="profile-table table-profile-information ">
                <tbody>

<tr>
  <td><strong>Candidate:</strong></td>
  <td><%= @application_form.candidate&.full_name %></td>

</tr>

<tr>
  <td><strong>Training center:</strong></td>
  <td><%= @application_form.training_center_id %></td>
</tr>

<tr>
  <td><strong>Course:</strong></td>
  <td><%= @application_form.course_type&.course_type %></td>
</tr>


<tr>
  <td><strong>Course Date:</strong></td>
<td><%=@application_form.course_start_date %> </td>

</tr>

<tr>
  <td><strong>Course Address:</strong></td>
  <td><%= @application_form.course_address %></td>
</tr>

<tr>
  <td><strong>Course State :</strong></td>
  <td><%= @application_form.state %></td>
</tr>


<tr>
  <td><strong>Course City:</strong></td>
  <td><%= @application_form.course_city %></td>
</tr>


<tr>
  <td><strong>Course Zip Code:</strong></td>
  <td><%= @application_form.course_zipcode %></td>
</tr>

<tr>
  <td><strong>AHA instructor motivation:</strong></td>
  <td><%= @application_form.aha_instructor_motivation %></td>
</tr>

<tr>
 <td><strong>Experience:</strong></td>
  <td><%= yesno(@application_form.experience_check)%></td>
</tr>

<tr>
 <td> <strong>Experience Description:</strong></td>
 <td><%= @application_form.experience_description %></td>
</tr>

<tr>
 <td><strong>Marketing origin:</strong></td>
  <td><%= @application_form.marketing_origin %></td>
</tr>

<tr>
  <td><strong>Teaching frequency:</strong></td>
  <td><%= @application_form.teaching_frequency %></td>
</tr>

<tr>
  <td><strong>Owned equipment:</strong></td>
  <td><%= yesno(@application_form.owned_equipment) %></td>
</tr>

<tr>
  <td><strong>Class availability:</strong></td>
  <td><%= yesno(@application_form.public_class_availability) %></td>
</tr>


<tr>
 <td> <strong>Teaching location:</strong></td>
 <td> <%= yesno(@application_form.teaching_location) %></td>
</tr>

<tr>
  <td><strong>Screening form agreement:</strong></td>
 <td> <%= yesno(@application_form.screening_form_agreement) %></td>
</tr>

<tr>
  <td><strong>Align with TP?</strong></td>
  <td><%= yesno(@application_form.align_w_tp_check) %></td>
</tr>

<tr>
  <td><strong>Date agreed:</strong></td>
 <td> <%= @application_form.date_agreed&.strftime("%m/%d/%y") %></td>
</tr>

<tr>
  <td><strong>AHA form agreement:</strong></td>
  <td><%= yesno(@application_form.aha_form_agreement) %></td>
</tr>

<tr>
  <td><strong>CPR instructor:</strong></td>
  <td><%= yesno(@application_form.cpr_instructor_check) %></td>
</tr>

<tr>
  <td><strong>AHA check:</strong></td>
  <td> <%= yesno(@application_form.aha_check) %></td>
</tr>


<tr>
  <td><strong>American Red Cross:</strong></td>
  <td><%= yesno(@application_form.merica_cross_check) %></td>
</tr>

<tr>
  <td><strong>AHA Training Center:</strong></td>
  <td><%= @application_form.aha_training_canter %></td>
</tr>

<tr>
  <td><strong>National Safety Council:</strong></td>
  <td><%= @application_form.ns_council_other %></td>
</tr>
                </tbody>
    </table>
              <div id="panel-footer">
  </div>
</div>

<<<<<<< Updated upstream
<span class="pull-right">
<%= link_to 'Edit', edit_application_form_path(@application_form), class:'btn btn-default btn-S'  %> |

<!--Logic to direct admin through pages with back button-->
<%if user_signed_in? and current_user.system_admin? then%>
      <!--If from specan, go back to specan-->
  <% if URI(request.referer).path == "/specan/#{@application_form.candidate_id}" %>
    <%= link_to 'Back', "/specan/#{@application_form.candidate_id}", class:'btn btn-default btn-S'  %> |
  <!--If from app forms go back to appforms-->
  <% elsif URI(request.referer).path == '/application_forms' %>
      <%= link_to 'Back', application_forms_path, class:'btn btn-default btn-S'  %>
  <!--If coming from report-->
  <% elsif URI(request.referer).path == '/report_applications_without_appointments' %>
      <%= link_to 'Back', report_applications_without_appointments_path, class:'btn btn-default btn-S' %>
  <!--If navigation unclear go back to apporms-->
  <% else %>
      <%= link_to 'Back', application_forms_path, class:'btn btn-default btn-S'  %>
  <% end %>
<%end%>

<%if user_signed_in? and current_user.candidate? then%>
    <%= link_to 'Back', view_my_application_path, class:'btn btn-default btn-S'  %> |
    <%= link_to 'Book Appointment', "/book_appointment/#{@application_form.id}", class:'btn btn-default btn-S'  %> |
<%end%>

<%if user_signed_in? and current_user.tcf_admin? then%>
  <%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %> |
<% end %>
          </span> <br>
=======

>>>>>>> Stashed changes
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
