
<h1>Application History</h1>

<div class="container">
  <div class ="container-body">
    <table class='table table-hover'>
      <thead>
      <tr>
        <div class="application_view_headers">
          <th>Name</th>
          <th>Course</th>
          <th>Course Info</th>
          <th>Date Agreed</th>
          <th colspan="3"></th>
        </div>
      </tr>
      </thead>

      <tbody>
      <% @application_forms.each do |application_form| %>
          <tr>
            <td><%= application_form.candidate.full_name %> </td>
            <td><%= application_form.course_type&.course_type %></td>
            <td><%= application_form.get_course_address %></td>
            <td><%= application_form.date_agreed&.strftime('%m/%d/%y') %></td>
            <td class="CRUD">
              <%= link_to 'View Application', application_form, class:'btn btn-info btn-sm' %></td>

          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<p>
<%= link_to 'New Application Form', new_application_form_path, class:'btn btn-default btn-S'  %> |
  <!--Navigation for Admin-->
  <% if user_signed_in? and current_user.system_admin? then %>
      <!--If last screen was listing of all go back there-->
    <% if URI(request.referer).path == '/viewappt' || URI(request.referer).path == 'application_forms/:id' %>
        <%= link_to 'Back' ,admin_view_appointments_index_path, class: 'btn btn-default btn-S' %>
          <!--If not just throw back to homepage-->
    <% elsif URI(request.referer).path == '/system_admin_landing' %>
        <%= link_to 'Back', system_admin_landing_path, class: 'btn btn-default btn-S' %>
    <% else %>
      <%= link_to 'Back', admin_view_appointments_index_path, class: 'btn btn-default btn-S' %>
    <%end %>
      <!--Navigation for candidate-->
  <% elsif user_signed_in? and current_user.candidate? %>
      <% if URI(request.referer).path == '/candidate_landing' %>
          <%= link_to 'Back', candidate_landing_path, class: 'btn btn-default btn-S' %>
      <% else %>
          <%= link_to 'Back', candidate_landing_path, class: 'btn btn-default btn-S' %>
      <%end%>
  <% end%>

</p>