
<body class="body-background">

<div class="form_div container">
<h1 class="page-header">Welcome <%=@current_candidate&.full_name%>! </h1>


<br>

<!--<li> -->
  <!--If statement to check if a profile exists for the candidate, if not it goes to new. -->
 <!-- % if Candidate.exists?(email: current_user.email) then %>-->
      <!-- %= link_to 'Profile', profile_edit_path(Candidate.where(email: current_user.email).first)%> -->
  <!-- %else%> -->
      <!-- %= link_to 'Profile', new_candidate_path%> -->
  <!-- %end%> -->
<!--</li> -->



<!--Logic for displaying actions only if appointments or applications exist.-->

<!--Normal Buttons for fresh candidate-->

<div class="button-candidate">
<% if @current_candidate.application?(@current_candidate) == false %>
    <p><%= "It seems you do not have not yet applied. Click below to begin an application." %></p>
<%end%>
<p><%= link_to 'Click To Begin Application', new_application_form_path,class:'btn btn-primary' %></p>
<!--If application exists show option for view applications nad new appointment -->
<p>
  <% if @current_candidate.application?(@current_candidate) %>
      <%= link_to 'View My Applications History', view_my_application_path(@current_candidate.id),  class:'btn btn-primary' %></p>
  <% end %>
<!--If candidate has appointment -->
<p>
  <% if @current_candidate.appointment?(@current_candidate) %>
    <%= link_to 'View All My Appointments', view_my_appointment_path(@current_candidate), class:'btn btn-primary' %>
  <% end %>
</p>

  </div>

</br>
</br>
</br>
</br>
</br>
</br>
  </br>
  </br>
  </br>
  </br>
  </br>


</div>
</br>
<div class="footer">
  <div align="center">
<p style="color: white;"> <strong>For More:</strong> </p>
<p><a href="http://cpr.heart.org/AHAECC/CPRAndECC/Training/AHAInstructors/UCM_476669_AHA-Instructors.jsp" target="_blank" style="color: white;"> How to Become an American Heart Association Instructor</a>
<p><a href="https://www.therapeuticprofessionals.com/default.aspx" target="_blank" style="color: white;"> Therapeutic Professionals </a></p>
</div>
  </div>
</body>

