<!DOCTYPE html>

<html>
<!---- System Admin Navigation --->
<body data-gr-c-s-loaded="true">
<div id="wrapper">
  <!-- /.navbar-header -->


  <!-- /.navbar-top-links -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">

      <%if user_signed_in? and current_user.system_admin? then%>
          <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
          <li><%= link_to 'Candidate Appointments By Date Range Selector', candidate_created_appointments_by_date_path%></li>
          <li><%= link_to 'Alignment Type Charts', report_candidates_by_allignment_type_path %> </li>
          <li><%=link_to 'Another Chart', report_candidates_by_course_path %></li>


      <%end%>
    </ul>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</div>


<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-14">
      <ol class="breadcrumb">
        <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
        <li class="active">Reports</li>
      </ol>
      <h1 class="page-header"><span class="glyphicon glyphicon-list-alt"></span>
        Reports
        <p>This menu will direct you to all special reports available.</p></h1>

    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">

    <div class="col-lg-6 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-lg-6">
              <div> <span class="glyphicon glyphicon-calendar"></span> <strong>Appointment Reports</strong>
                <p>This section links to reports regarding appointments.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="panel-footer">
            <span class="glyphicon glyphicon-chevron-right"></span><%=link_to 'Upcoming Appointments', report_upcoming_appointments_path%><br>
            <span class="glyphicon glyphicon-chevron-right"></span><%=link_to 'My Upcoming Appointments', report_upcoming_per_faculty_path%><br>
            <span class="glyphicon glyphicon-chevron-right"></span><%=link_to 'Applications Without Appointments', report_applications_without_appointments_path%><br>
            <div class="clearfix"></div>
          </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-tasks fa-5x"></i>
            </div>
            <div class="col-lg-6">
              <div><span class="glyphicon glyphicon-user"></span> <strong>Candidate Reports</strong><p>This section allows you to manage information about the users.<p></p> </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="glyphicon glyphicon-chevron-right"></span><%=link_to 'Candidates without Applications', report_candidates_without_applications_path%><br>
          <span class="pull-left"></span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
</div>
</div>


</body>
</html>