<!DOCTYPE html>
<html>
<!---- System Admin Navigation --->
<body>
    <div id="wrapper">
      <!-- /.navbar-header -->
                  <ul class="nav navbar-top-links navbar-right">
                    <li class="dropdown">
                    <!-- /.dropdown -->
                  </ul>
                  <!-- /.navbar-top-links -->
                  <div class="navbar-default  sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse collapse in">
                      <ul class="nav nav-pills nav-stacked">
                      <li class="sidebar-search">
                      <div class="input-group custom-search-form">
                            <%if user_signed_in? and current_user.system_admin? then%>
                            <li><%= link_to 'User Controls', admin_user_controls_path%></li>
                            <li><%= link_to 'Candidate Application Forms', admin_view_applications_path%></li>
                            <li><%= link_to 'New Candidate', new_candidate_path%></li>
                            <li><%= link_to 'View Candidates', candidates_path%></li>
                            </ul>
                        <%end%>
                          </div>
                    <!-- /.sidebar-collapse -->
                  </div>
                  <!-- /.navbar-static-side -->
                </nav>

                <div id="page-wrapper">
                  <div class="row">
                    <div class="col-lg-12">
                      <h1 class="page-header"> System Dashboard</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-3">
                              <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">

                              <div>New Candidates</div>
                            </div>
                          </div>
                        </div>
                          <div class="panel-footer">
                            <li><%= link_to 'View Candidates', candidates_path%></li>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-3">
                              <i class="fa fa-tasks fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div>Something else?</div>
                            </div>
                          </div>
                        </div>
                        <a href="#">
                          <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-3">
                              <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div>IDK what else?</div>
                            </div>
                          </div>
                        </div>
                        <a href="#">
                          <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col-xs-3">
                              <i class="fa fa-support fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                              <div>Applications</div>
                            </div>
                          </div>
                        </div>
                          <div class="panel-footer">
                            <li><%= link_to 'Create Application', admin_create_app_for_index_path %></li>
                            <li><%= link_to 'View Applications for', admin_create_app_for_index_path %></li>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>

                <!-- /#page-wrapper -->
              </div>
      </div>
    </body>
</html>