
<h1>Faculties</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Faculty type</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Office address</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%= faculty.first_name %></td>
        <td><%= faculty.last_name %></td>
        <td><%= faculty.faculty_type %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.phone %></td>
        <td><%= faculty.office_address %></td>
        <td><%= faculty.state %></td>
        <td><%= faculty.zip_code %></td>
        <td><%= faculty.country %></td>
        <td><%= link_to 'Show', faculty %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Destroy', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Faculty', new_faculty_path %>
