
<h1>Faculties</h1>

<table class='table table-hover'>
  <thead>
    <tr>
      <th>Training Center </th>
      <th>Faculty type</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Office address</th>
      <th>State</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faculties.each do |faculty| %>
      <tr>
        <td><%=faculty.training_center&.training_center_name %></td>
        <td><%= faculty.faculty_type&.job_title %></td>
        <td><%= faculty.full_name %></td>
        <td><%= faculty.email %></td>
        <td><%= faculty.phone %></td>
        <td><%= faculty.office_address %></td>
        <td><%= faculty.state&.state_name %></td>
        <td><%= faculty.zip_code %></td>
        <td><%= link_to 'Edit', edit_faculty_path(faculty) %></td>
        <td><%= link_to 'Delete', faculty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Faculty', new_faculty_path %>
