<%= form_for(alignment_type) do |f| %>
  <% if alignment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alignment_type.errors.count, "error") %> prohibited this alignment_type from being saved:</h2>

      <ul>
      <% alignment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="container">
      <div  style="margin-top:50px;" class="col-md-5 col-md-offset-3 col-sm-7 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">

            <div class="panel-title"><strong>Alignment Type</strong>
              <div class="pull-right">
                <div style="margin-top: -6px">
                  <%= link_to 'Cancel', admin_alignment_type_crud_path, class:'btn btn-danger' %>
                </div></div>
            </div>

          </div>
          <div style="padding-top:30px" class="panel-body" >
          <div class="row">
  <div class="col-md-7">
    <%= f.label :alignment_type %>
    <%= f.text_field :alignment_type, class:'form-control' %>
  </div>
            </div>

          <div class="row">
  <div class="col-lg-4">
    <%= f.label :abbrev %>
    <%= f.text_field :abbrev, class:'form-control' %>
  </div>

            </div>
            </br>
            <button type="submit" class="btn btn-success">Update Alignment Type</button>

  </div>
<% end %>

</div>
</div>
</div>
</div>
</div>