<p id="notice"><%= notice %></p>

<h1>Alignment Types</h1>

<table>
  <thead>
    <tr>
      <th>Alignment type</th>
      <th>Abbrev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alignment_types.each do |alignment_type| %>
      <tr>
        <td><%= alignment_type.alignment_type %></td>
        <td><%= alignment_type.abbrev %></td>
        <td><%= link_to 'Show', alignment_type %></td>
        <td><%= link_to 'Edit', edit_alignment_type_path(alignment_type) %></td>
        <td><%= link_to 'Destroy', alignment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alignment Type', new_alignment_type_path %>
