<p id="notice"><%= notice %></p>





<div class="container">
  <ol class="breadcrumb">
    <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
    <li class="active">Instructor Candidate ProfileCourse Location</li>
  </ol>
  <h1 class="page-header">Instructor Candidate Profile</h1>
  <div class="col-md-5">
    <!--<form action="#" method="get">-->
    <div class="input-group">
      <input class="form-control" id="system-search" name="q" placeholder="Search for" required autofocus>
      <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
    </div>
    <!--</form>-->
    <br>
  </div>

  <div class="pull-right">
    <%= link_to 'Create New Candidate', new_candidate_path, class:'btn btn-info btn-S'  %>
  </div>

  <div class="col-md-12">
    </br>
    <div class="panel panel-default">
  <div class ="container-body">
    <table id="myTable" class='table table-hover table-striped table-list-search'>

  <thead>
    <tr>
      <th onclick="sortTable(0)"> First name  </th>
      <th onclick="sortTable(0)"> Last name</th>
      <th onclick="sortTable(0)"> Email</th>
      <th onclick="sortTable(0)"> Phone number</th>
      <th onclick="sortTable(0)"> Occupation</th>
      <th onclick="sortTable(0)"> Alignment type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.email %></td>
        <td><%=candidate.phone%></td>
        <td><%= candidate.occupation %> </td>
        <td><%= candidate.alignment_type&.alignment_type %></td>
        <td><%= link_to 'View Profile', candidate , class:'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit Profile', edit_candidate_path(candidate), class:'btn btn-warning btn-xs'  %></td>
        <td><%= link_to 'Delete', candidate, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>


<br>

  <p>
  <%= link_to 'Back', system_admin_landing_path, class: 'btn btn-default btn-S' %>
  </p>
</div>
  </div>
