<p id="notice"><%= notice %></p>


<div id="form-wrapper">
  <div class="row">
    <div class="col-xs-6 col-sm-8 col-md-6 col-md-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-3">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Instructor Candidate Profile</h3>
      </div>

      <div class="panel-body" >
        <div class="row">
          <div class="col-lg-14">
            <table class="profile-table table-profile-information ">
              <tbody>
              <tr>
                <td><strong>First name:</strong></td>
                <td> <%= @candidate.first_name %></td>
              </tr>

              <tr>
                <td><strong>Last name:</strong></td>
                <td><%= @candidate.last_name %></td>
              </tr>

              <tr>
                <td>  <strong>Address:</strong></td>
                <td><%= @candidate.address %></td>
              </tr>

              <tr>
                <td><strong>Email:</strong></td>
                <td><%= @candidate.email %></td>
              </tr>

              <tr>
                <td><strong>Phone:</strong></td>
                <td><%= @candidate.phone %></td>
              </tr>

              <tr>
                <td> <strong>Fax: </strong></td>
                <td> <%= @candidate.fax %></td>
              </tr>

              <tr>
                <td><strong>City:</strong></td>
                <td><%= @candidate.city %></td>
              </tr>

              <tr>
                <td> <strong>State:</strong></td>
                <td> <%= @candidate.state&.state_name %></td>
              </tr>

              <tr>
                <td><strong>Zipcode:</strong></td>
                <td> <%= @candidate.zipcode %></td>
              </tr>

              <tr>
                <td> <strong> Occupation: </strong></td>
                <td> <%= @candidate.occupation %></td>
              </tr>

              <tr>
                <td><strong>Alignment type:</strong></td>
                <td><%=@candidate.alignment_type&.alignment_type%></td>
              </tr>
              </tbody>
            </table>


            <div id="panel-footer">

  <span class="pull-right">
 <%= link_to 'Edit Profile', edit_candidate_path(@candidate), class:'btn btn-primary'  %>


    <%if user_signed_in? and current_user.system_admin? then%>
  <%= link_to 'Back', candidates_path, class:'btn btn-default btn-S'  %>
<%end%>

    <%if user_signed_in? and current_user.candidate? then%>
  <%= link_to 'Back', candidate_landing_path , class:'btn btn-default btn-S' %>
<%end%></span> <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>





