<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @candidate.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @candidate.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidate.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @candidate.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @candidate.fax %>
</p>

<p>
  <strong>State:</strong>
  <%= @candidate.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @candidate.zipcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @candidate.country %>
</p>


<p>
  <strong> Occupation: </strong>
  <%= @candidate.occupation %>
</p>


<p>
  <strong>Alignment type:</strong>
  <%=@candidate.alignment_type&.alignment_type%>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidate_landing_path %>
