<div class="container">
  </br>
<ol class="breadcrumb">
  <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
  <li><%=link_to 'Reports', reports_landing_path%></li>
  <li class="active">Application Forms Without Appointments</li>
</ol>


<h3 class="page-header">Application Forms Without Appointments</h3>
<p><%= link_to 'Back', reports_landing_path, class: 'btn btn-primary btn-S' %></p>



  <div class ="container-body">
    <div class="panel panel-default">
      <table class="table table-striped">
      <thead>
      <tr>
        <div class="application_view_headers">
          <th>Name</th>
          <th class="coursecolumn">Course</th>
          <th>Experience</th>
          <th>Marketing Origin</th>
          <th>Teaching Frequency</th>
          <th>Owned Equipment</th>
          <th>Class Availability</th>
          <th>Teaching Location</th>
          <th>Screening Form Agreement</th>
          <th>Date Agreed</th>
          <th>Aha Form Agreement</th>
          <th colspan="3"></th>
        </div>
      </tr>
      </thead>

      <tbody>
      <% @application_forms.each do |application_form| %>
          <tr>
            <td><%= application_form.candidate.full_name %> </td>
            <td class="coursecolumn"><%= application_form.course_type&.course_type %></td>
            <td><%= yesno(application_form.experience_check) %></td>
            <td><%= application_form.marketing_origin %></td>
            <td><%= application_form.teaching_frequency %></td>
            <td><%= yesno(application_form.owned_equipment) %></td>
            <td><%= yesno(application_form.public_class_availability) %></td>
            <td><%= yesno(application_form.teaching_location) %></td>
            <td><%= yesno(application_form.screening_form_agreement) %></td>
            <td><%= application_form.date_agreed&.strftime('%m/%d/%y') %></td>
            <td><%= yesno(application_form.aha_form_agreement) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="CRUD">
              <%= link_to 'View Application', application_form, class:'btn btn-info btn-sm' %></td>
            <td class="CRUD">
              <%= link_to 'Edit Application', edit_application_form_path(application_form), class:'btn btn-info btn-sm'  %>
            </td>
            <td class="CRUD">
              <%= link_to 'Delete', application_form, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger btn-sm'  %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

