<div id="wrapper">
  <!-- /.navbar-header -->


  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Action
    </button>
    <div class="dropdown-menu">
     <li><a class="dropdown-item" href="#">
    <%= link_to 'All', root_path %>
     </a></li>
  <% AlignmentType.order('alignment_type ASC').each do |alignment_type| %>
          <li><a class="dropdown-item" href="#">
        <%= link_to "#{alignment_type.alignment_type}" %>
          </a></li>

          <li><a class="dropdown-item" href="#">
          <%= link_to 'Employee', alignment_employees_path, @employees %>
          </a></li>
    <% end %>
  </ul>
  </div>




  <!-- /.navbar-top-links -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">

      <%if user_signed_in? and current_user.system_admin? then%>
          <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
          <li><%= link_to 'Candidate by Ranged Appointments', candidate_created_appointments_by_date_path%></li>
          <li><%= link_to 'Charts', report_candidates_by_allignment_type_path %> </li>


      <%end%>
    </ul>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</div>


<!---- Pie graph for Alignment Type Report --------------->
<div id="page-wrapper">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"> Candidates by Alignment Type </div>


        <%= pie_chart @results%>

<br>


<!-------- Table to support the Alignment Type Chart Report ------------>
 <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
      <table class="table table-striped">

        <thead>
        <tr>
    <th> First name </th>
    <th> Last name </th>
    <th> Alignment type </th>
    </tr>

        </thead>
        <tbody>
  <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.first_name %></td>
        <td><%= candidate.last_name %></td>
        <td><%= candidate.alignment_type&.alignment_type %></td>
    </tr>
  <% end %>

  </table>

        </tbody>

                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>


