<div class="wrapper-container">


<!--<h1>Report</h1>-->
<!--<table class="table table-hover">-->

  <!--<thead>-->
  <!--<tr>-->
  <!--<th>First Name</th>-->
  <!--<th>Last Name</th>-->
  <!--<th>Course Type </th>-->
  <!--<th>Interviewer Name  </th>-->
  <!--<th>Date applied </th>-->
  <!--<th colspan="3"></th>-->
  <!--</tr>-->
  <!--</thead>-->





<!--</table>-->
<!--</div>-->

  <br>
  <div class="container">
    <div class="rows">
      <div class="col-md-8 col-md-offset-2">
        <h3>Reports</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success">First Name: <%= '#{candidate.first_name}'%></li>
          <li class="list-group-item list-group-item-success">Last Name: <%= '#{candidate.last_name}'%></li>
          <li class="list-group-item list-group-item-success">Course Type: <%= '#{course.course_type_id}' %></li>
          <li class="list-group-item list-group-item-success">Interviewer Name: <%= %></li>
          <li class="list-group-item list-group-item-success">Date applied: <%=  %></li>
        </ul>
        </ul>
      </div>
    </div>



</div>
</div>