<%= form_for @user, url: admin_user_update_path(@user) do |f|%>

    <div class="field">
      <%= f.label :id %>
      <%= text_field_tag :id, @user.id, :readonly => true%>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= text_field_tag :email, @user.email, :readonly => true%>
    </div>

    <div class="field">
      <%= f.label :role%>
      <%= select_tag :role, options_for_select(User.roles.keys)%>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<%end%>