<p id="notice"><%= notice %></p>


<div class="container">
  <ol class="breadcrumb">
    <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
    <li> <%=link_to 'Configurations',admin_configurations_path%> </li>
    <li class="active">Course Location</li>
  </ol>
  <h1 class="page-header">Course Location</h1>
  <div class="pull-right">
    <%= link_to 'Add New Course Location', new_course_path, class:'btn btn-info btn-S' %>
  </div>

  <div class="col-md-12">
    </br>
    <div class="panel panel-default">
      <table class="table table-striped">
  <thead>
    <tr>
      <th>Course type</th>
      <th>Course start date</th>
      <th>Course address</th>
      <th>Course city</th>
      <th>State</th>
      <th>Country</th>
      <th>Zip code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_type_id %></td>
        <td><%= course.course_start_date %></td>
        <td><%= course.course_address %></td>
        <td><%= course.course_city %></td>
        <td><%= course.state %></td>
        <td><%= course.country %></td>
        <td><%= course.course_zipcode %></td>
        <td><%= link_to 'Edit', edit_course_path(course), class:'btn btn-warning btn-xs' %></td>
        <td><%= link_to 'Delete', course, method: :delete,class:'btn btn-danger btn-xs' ,data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>
<br>

<p>

<%= link_to 'Back', admin_configurations_path, class:'btn btn-default btn-S'  %>
</p>