<p id="notice"><%= notice %></p>

<h1>Allignment Types</h1>

<table>
  <thead>
    <tr>
      <th>Allignment type</th>
      <th>Abbrev</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allignment_types.each do |allignment_type| %>
      <tr>
        <td><%= allignment_type.allignment_type %></td>
        <td><%= allignment_type.abbrev %></td>
        <td><%= link_to 'Show', allignment_type %></td>
        <td><%= link_to 'Edit', edit_allignment_type_path(allignment_type) %></td>
        <td><%= link_to 'Destroy', allignment_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allignment Type', new_allignment_type_path %>
