<p id="notice"><%= notice %></p>

<p>
  <strong>Allignment type:</strong>
  <%= @allignment_type.allignment_type %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @allignment_type.abbrev %>
</p>

<%= link_to 'Edit', edit_allignment_type_path(@allignment_type) %> |
<%= link_to 'Back', allignment_types_path %>
