<p id="notice"><%= notice %></p>

<%if user_signed_in? and current_user.system_admin? then%>
<ol class="breadcrumb">
  <li><%=link_to 'Dashboard', system_admin_landing_path%></li>
  <li><%=link_to 'Appointments/Applications', admin_view_appointments_index_path%></li>
  <li><%= 'Appointments for candidate' %> </li>
</ol>
<% end %>


<% @appointments.each do |appointment| %>
    <% @name = appointment.get_candidate(appointment) %>
    <% end %>


<h1>Appointments for <%= @name %> </h1>

<table class="table table-striped">
  <thead>
  <tr class="bycandidate">
    <th>Start</th>
    <th>End</th>
    <th>Candidate</th>
    <th>Faculty</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @appointments.each do |appointment| %>

  <!--Messy Logic to handle variables.-->

      <tr>
        <td class="bycan"><%= appointment.start.strftime('%B %e, %l:%M %p') %></td>
        <td class="bycan"><%= appointment.end.strftime('%B %e, %l:%M %p') %></td>
        <td class="bycan"><%= appointment.get_candidate(appointment)%></td>
        <td class="bycan"><%= appointment.get_faculty(appointment)%></td>
        <td><%= link_to 'Show', appointment , class:'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Change', edit_appointment_path(appointment) ,class:'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-default btn-xs'%></td>
      </tr>


  <% end %><tr>
    <div class="h-divider"></div>
  </tr>
  </tbody>
</table>

<br>

<%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %>
