<p id="notice"><%= notice %></p>

<% @appointments.each do |appointment| %>

<% @aid = appointment.application_form_id %>
<% @fapp = ApplicationForm.find(@aid) %>
<% @id = @fapp.candidate_id %>
<% @can = Candidate.find(params[:id])%>
<%end%>
<h1>Appointments for <%= @can.full_name %></h1>

<table>
  <thead>
  <tr class="bycandidate">
    <th>Start</th>
    <th>End</th>
    <th>Candidate</th>
    <th>Faculty</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @appointments.each do |appointment| %>

  <!--Messy Logic to handle variables.-->
      <% @aid = appointment.faculty_id %>
      <% @faculty = Faculty.find(@aid) %>
      <% @apid = appointment.application_form_id %>
      <% @fapp = ApplicationForm.find(@apid) %>
      <% @id = @fapp.candidate_id %>
      <% @can = Candidate.find(params[:id])%>


      <tr>
        <td class="bycan"><%= appointment.start.strftime('%B %e, %l:%M %p') %></td>
        <td class="bycan"><%= appointment.end.strftime('%B %e, %l:%M %p') %></td>
        <td class="bycan"><%= @can.full_name%> </td>
        <td class="bycan"><%= @faculty.full_name%></td>
        <td><%= link_to 'Show', appointment , class:'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Change', edit_appointment_path(appointment) ,class:'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } ,class:'btn btn-default btn-xs'%></td>
      </tr>


  <% end %><tr>
    <div class="h-divider"></div>
  </tr>
  </tbody>
</table>

<br>

<%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %>
