<h1>Editing Appointment</h1>

<%= render 'form', appointment: @appointment %>

<%= link_to 'Show', @appointment, class:'btn btn-default btn-S'  %> |
<!--Logic for back button-->

    <!--Naviagtion for admin-->
<% if user_signed_in? and current_user.system_admin? then %>
    <!--If last screen was listing of all go back there-->
    <% if URI(request.referer).path == "/appointments/#{@appointment.id}"%>
        <%= link_to 'Back' ,admin_view_all_apps_path, class: 'btn btn-default btn-S' %>
        <!--If not just throw back to homepage-->
    <% elsif URI(request.referer).path == '/application_forms' %>
        <%= link_to 'Back', application_forms_path, class: 'btn btn-default btn-S' %>
    <% else %>
        <%= link_to 'Back', url_for(:back), class: 'btn btn-default btn-S' %>
    <%end %>

    <!--Navigation for candidate-->
<% elsif user_signed_in? and current_user.candidate? %>
    <% if URI(request.referer).path == '/bycandidate/:id' %>
        <%= link_to 'Back', view_my_appointment_path, class: 'btn btn-default btn-S' %>
    <% else %>
        <%= link_to 'Back', candidate_landing_path, class: 'btn btn-default btn-S' %>
    <%end%>
<% end%>
