
<p>
  <strong>Start:</strong>
  <%= @appointment.start.strftime('%B %d, %Y  %l:%M %p') %>
</p>

<p>
  <strong>End:</strong>
  <%= @appointment.end.strftime('%B %d, %Y  %l:%M %p') %>
</p>

<p>
  <strong>Faculty:</strong>
  <%=@faculty.full_name%>
</p>

<p>
  <strong>Candidate:</strong>
  <%=@candidate.full_name%>
</p>

<p>
  <strong>Candidate Phone:</strong>
  <%=@candidate.phone%>
</p>


<p>
  <strong>Interview Complete:</strong>
  <%= yesno(@appointment.complete) %>
</p>

<p>
  <strong>Interview Comments:</strong>
  <%=@appointment.comments%>
</p>

<p>
<%= link_to 'Edit', edit_appointment_path(@appointment), class:'btn btn-default btn-S'  %> |
<%= link_to 'Interview', interview_questions_path(@appointment), class:'btn btn-default btn-S'  %> |
<%= link_to 'Back', url_for(:back), class:'btn btn-default btn-S'  %>
  <br> <br>
</p>
<p>
<%=link_to 'View Application', "/application_forms/#{@application_form.id}", class:'btn btn-default btn-S' %></p>