
<p>
  <strong>Start:</strong>
  <%= @timeslot.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @timeslot.end %>
</p>

<p>
  <strong>Faculty:</strong>
  <%= @timeslot.faculty_id %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
