<!DOCTYPE html>
<html>
 <head>
   <title>TPIS</title>
   <%= csrf_meta_tags %>

   <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
 </head>

 <body>
 <div id="wrapper">
   <!---<div class="navbar navbar-defult  role="navigation"> -->
   <!---<nav class="navbar navbar-inverse bg-primary"> --> <!---<div class="navbar navbar-defult  role="navigation"> -->
   <!---<nav class="navbar navbar-inverse bg-primary"> -->


   <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0; background-color: #3f3f3f; border: 0px">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <div class="navbar-brand">
           <% if user_signed_in? == false then %>
               <%=link_to root_path, class:'navbar-brand' do %>
                   <%= image_tag "/TPIS_Logo.png", class: "logolink", height: '150px' %>
               <%end%>
           <%end%>

           <% if user_signed_in? and current_user.candidate? then%>
               <%= link_to candidate_landing_path, class: 'navbar-brand' do %>
                   <%= image_tag "/TPIS_Logo.png", class: "logolink", height: '150px' %>
               <%end%>
           <%end%>
           <% if user_signed_in? and current_user.system_admin? then%>
               <%= link_to system_admin_landing_path, class: 'navbar-brand' do %>
                   <%= image_tag "/TPIS_Logo.png", class: "logolink", height: '150px' %>
               <% end %>
           <% end %>
           <% if user_signed_in? and current_user.tcf_admin? then%>
               <%= link_to tcf_admin_landing_path, class: 'navbar-brand' do %>
                   <%= image_tag "/TPIS_Logo.png", class: "logolink", height: '150px' %>
               <% end %>
           <% end %>
         </div>
       </div>


         <!--- Candidate Navigation --->








    <!--- Candidate Navigation --->



     <!--- Candidate Navigation --->


     <ul class="nav navbar-nav pull-right">
       <% if user_signed_in? %>

           <div class="btn-group">
             <%= link_to current_user.email, edit_user_registration_path, class:'btn btn-default' %>
             <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <span class="caret"></span>
               <span class="sr-only">User</span>
             </button>


             <ul class="dropdown-menu">
               <!----- Sign in view for Canddiate -------------------------------------------------------------------->
               <%signed_candidate = Candidate.where(email: current_user.email).first%>
               <%if user_signed_in? and current_user.candidate? and signed_candidate then%>
                   <li><%= link_to 'Change Password', edit_user_registration_path(signed_candidate) %></li>
                   <li><%= link_to 'My Profile', profile_show_path(signed_candidate)%></li>
                   <li><%= link_to 'My Application', appform_all_path(signed_candidate)%></li>
               <%end%>
               <!------------ Sign in view for Faculty -------------------------------------------------------------------->
               <%signed_faculty = Faculty.where(email: current_user.email).first%>
               <%if user_signed_in? and current_user.tcf_admin? and signed_faculty then %>
                   <li><%= link_to 'My Profile', faculty_profile_show_path(signed_faculty) %></li>
               <%end%>

               <!----------System Admin ------------->
               <%signed_admin = Faculty.where(email: current_user.email).first%>
               <%if user_signed_in? and current_user.system_admin? and signed_admin then %>
                   <li><%= link_to 'My Profile', faculty_profile_show_path(signed_admin) %></li>
               <%end%>
               <li class="divider"></li>
               <li>  <%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>

             </ul>

           </div>

       <% else %>


           <li><%= link_to 'Log In', new_user_session_path%></li>
           <li><%= link_to 'Sign Up', new_user_registration_path%></li>

       <% end %>
     </ul>


   </nav>
  </nav>


  <div class="wrapper-alert">

    <% flash.each do |key, value| %>

        <div class="alert alert-<%=alert_check key%>">
          <%= value %>
    <% end %>
    </div>
  </div>
</div>
<%= yield %>
</body>

</html>